.headerOne-font {
  font-family: "NeueMachina-Ultrabold";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
}

.headerTwo-font {
  font-family: "NeueMachina-Ultrabold";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.buttonOne-font {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.buttonTwo-font {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.captionOne-font {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.captionTwo-font {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.TokenDefault {
  background-color: transparent;
  -webkit-transition: all 0.35s !important;
  transition: all 0.35s !important;
  padding: 10px 24px 8px;
  border: none;
  height: 48px;
  outline: none;
  font-family: "NeueMachina-Ultrabold";
  background-color: #E7BB63;
  border-radius: 60px;
  border: 1px solid #E7BB63;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #020204;
}