.headerOne-font {
  font-family: "NeueMachina-Ultrabold";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
}

.headerTwo-font {
  font-family: "NeueMachina-Ultrabold";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.buttonOne-font {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.buttonTwo-font {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.captionOne-font {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.captionTwo-font {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.loginpage_blur_wrapper {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.loginpage {
  position: fixed;
  height: 737px;
  top: 50%;
  left: 50%;
  color: #FFFFFF;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 490px;
  z-index: 100000;
  background-color: #020204;
  padding: 32px;
}

@media screen and (min-width: 915px) {
  .loginpage_quit_btn_container_m {
    display: none;
  }

  .loginpage {
    padding-left: 81px;
  }
  .loginpage .loginpage_quit_btn_container_d {
    margin-bottom: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 10000000;
  }
  .loginpage .loginpage_quit_btn_container_d .loginpage_quit_btn {
    outline: none;
    border: none;
    position: relative;
    background-color: transparent;
  }
  .loginpage .whiteStars_block {
    margin-bottom: 18px;
  }
  .loginpage .loginpage-header {
    margin-bottom: 24px;
    margin-top: 18px;
  }
  .loginpage .loginpage_regform section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .loginpage .loginpage_regform section.loginpage_password_input_section {
    margin-bottom: 32px !important;
  }
  .loginpage .loginpage_regform section:not(:last-child) {
    margin-bottom: 20px;
  }
  .loginpage .loginpage_regform section label {
    margin-bottom: 8px;
  }
  .loginpage .loginpage_regform section input {
    width: 327px !important;
  }
  .loginpage .loginpage_regform section input[type=password] {
    font-size: 10px;
    letter-spacing: 5px;
  }
  .loginpage .loginpage_regform section.loginpage_button_section {
    margin-bottom: 98px;
  }
  .loginpage .loginpage_regform section.loginpage_button_section button:first-child {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 915px) {
  .loginpage_blur_wrapper {
    z-index: 90000000;
    background-color: #020204;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .loginpage_blur_wrapper .loginpage_quit_btn_container_m .loginpage_quit_btn {
    outline: none;
    border: none;
    position: absolute;
    top: 56px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 100000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 375px;
    padding: 0 24px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: transparent;
  }
  .loginpage_blur_wrapper .loginpage {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 375px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 56px 24px;
    padding-top: 174px;
    overflow-y: scroll;
  }
  .loginpage_blur_wrapper .loginpage .loginpage_quit_btn_container_d {
    display: none;
  }
  .loginpage_blur_wrapper .loginpage .loginpage_whiteStars_block {
    margin-bottom: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .loginpage_blur_wrapper .loginpage .loginpage-header {
    margin-bottom: 24px;
    margin-top: 18px;
  }
  .loginpage_blur_wrapper .loginpage .loginpage_regform section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .loginpage_blur_wrapper .loginpage .loginpage_regform section.loginpage_password_input_section {
    margin-bottom: 32px !important;
  }
  .loginpage_blur_wrapper .loginpage .loginpage_regform section:not(:last-child) {
    margin-bottom: 20px;
  }
  .loginpage_blur_wrapper .loginpage .loginpage_regform section label {
    margin-bottom: 8px;
  }
  .loginpage_blur_wrapper .loginpage .loginpage_regform section input {
    width: 327px !important;
  }
  .loginpage_blur_wrapper .loginpage .loginpage_regform section input[type=password] {
    font-size: 10px;
    letter-spacing: 5px;
  }
  .loginpage_blur_wrapper .loginpage .loginpage_regform section.loginpage_button_section button:first-child {
    margin-bottom: 12px;
    font-family: "NeueMachina-Ultrabold";
  }
}