.headerOne-font {
  font-family: "NeueMachina-Ultrabold";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
}

.headerTwo-font {
  font-family: "NeueMachina-Ultrabold";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.buttonOne-font {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.buttonTwo-font {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.captionOne-font {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.captionTwo-font {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.PasswordInputBar {
  background-color: #2D2D30;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 327px;
  padding-left: 16px;
  padding-right: 40px;
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid transparent;
  position: relative;
}

.PasswordInput {
  font-family: "NeueMachina-Regular";
  color: #FFFFFF;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  width: 100%;
  outline: none;
  border: none;
  height: 100%;
}

.EyeIcon_block {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

.inputIcon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-left: 4px;
  position: absolute;
  left: 8px;
  top: 3px;
  margin-right: 4px;
}

.inputIconOpen {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-left: 4px;
  position: absolute;
  left: 5px;
  top: 5px;
  margin-right: 4px;
}